.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  valid1{
    border-bottom: 1px solid #4CAF50;
  }

  invalid1{
    border-bottom: 1px solid #F44336
  }
  .error-text{
    position: relative;
    top: -10px;
    font-size: 11px;
    color: red;
  }