
<mat-card>
    <mat-card-title >Basic Details</mat-card-title>
    <!-- <div class="docs-example-viewer-title">
        Basic Details
    </div> -->
    <mat-card-content>
      
      {{item}}

    <div class="row detail" *ngFor="let detail of list;let index=index;" style="min-height: 80px;">
        <input id="file{{index}}" name="file{{index}}" type="file" style="display: none;" #fileInput (change)="onFileChanged($event,detail)" >
        
      <div class="col l3 s12 " *ngIf="detail.id!=0">{{detail.name}}</div>
        <div class="col l3 s12" *ngIf="detail.id!=0">{{detail.mobile}}</div>
        <div class="col l3 s12 text-center" *ngIf="detail.id!=0">
            <!-- <img class="image" [src]="detail.image"> -->
            <img class="image" *ngIf="detail.image" [src]="detail.image">
            <mat-label class="change-img-label" (click)="fileInput.click()" style="cursor: pointer;display: block;" color="accent">change picture</mat-label>
          </div>
        
        
        <div class="col s12" *ngIf="detail.id==0">
            <mat-form-field class="example-full-width">
              <input id="name{{index}}" name="name{{index}}" matInput placeholder="Name" [(ngModel)]="detail.name">
            </mat-form-field>
          </div>
          <div class="col s12" *ngIf="detail.id==0">
              <mat-form-field class="example-full-width">
                  <input id="mobile{{index}}" name="mobile{{index}}" matInput placeholder="Mobile" [(ngModel)]="detail.mobile">
                </mat-form-field>
          </div>
          <div class="col s12 text-center" *ngIf="detail.id==0">
              <!-- <label class="btn" for="file{{index}}">Image</label> -->
              <!-- <button mat-raised-button color="primary" (click)="fileInput.click()" >Select Image</button> -->
              <mat-icon *ngIf="!detail.image" (click)="fileInput.click()" style="cursor: pointer;" color="accent">camera_alt</mat-icon>
              <img class="image" *ngIf="detail.image" [src]="detail.image">
            <mat-label class="change-img-label" *ngIf="detail.image" (click)="fileInput.click()" style="cursor: pointer;display: block;" color="accent">change picture</mat-label>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;padding-top: 20px">
          <div class="col l12 s12">
          <button mat-fab color="accent" (click)="addMore()" ><i class="material-icons">add</i></button>
              
          </div>
        </div>
        <mat-divider></mat-divider>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-12 p-3">
    <button mat-flat-button (click)="save()">SAVE</button>
  </div>
</div>
      <!-- <mat-list>
          <mat-list-item *ngFor="let detail of list">
            <div class="row">
              <div class="col-lg-3">{{detail.name}}</div>
              <div class="col-lg-3">{{detail.mobile}}</div>
              <div class="col-lg-3">Image</div>
              <div class="col-lg-3">
                <img class="image" [src]="detail.image">
              </div>
            </div>

          </mat-list-item>
        </mat-list> -->
    </mat-card-content>

</mat-card>
<!-- yeah nice -->
<!-- just edited again now -->
test
