/* mat-card-title{
    color: rgba(0,0,0,.54) !important;
    background: rgba(0,0,0,.03) !important;
} */

.docs-example-viewer-title {
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 8px 20px;
}
div.docs-example-viewer-title {
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
}
.btn{
    width:200px;
    height: 80px;
    background: #eeccee;
}
.image{
    width:50px;
    height: 50px;
}
.change-img-label{
    font-size: 10px;
    color: #ff4081;
}
.detail{
    border: 1px solid #dddddd;
    margin-bottom: 10px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}